@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

input:checked {
    background-color: #22c55e; /* bg-green-500 */
}

input:checked ~ span:last-child {
    --tw-translate-x: 1.75rem; /* translate-x-7 */
}

.hide {
    @apply absolute border-4 border-gray-900 w-max -top-[600px] bg-slate-200 text-black rounded-full cursor-default p-1 opacity-0 transition-all duration-200;
}

.hasHelp:hover + .hide {
    @apply opacity-100 -top-8;
}
.statDiv {
    @apply bg-gray-400 border-2 grid grid-flow-col border-gray-600 w-full h-max p-2;
}